.heading{
    margin:6px;
}
.group{
    position: relative;
    margin: 25px;
}
.group>input{
    width: 42vh;
    height: 4vh;
    margin-left: -25px;  
    padding: 0.8em;
    border-radius: 0.5em;
    border: 2px solid gray;
    outline: none;
}
.group>label{
    padding:0.0.2em;
    position: absolute;
    top: -0.5em;
    left:-1em;
    background-color: white;
    color: #5D3FD3;
    font-weight: 550;
    font-family: sans-serif;
}
.group>label>label{
    color: red;
}

::placeholder{
    position: relative;
    left: 10px;
}
